<form>
  <p>
    <label for="title">name</label>
    <input type="text" name="title" value="{{{title}}}">
  </p>
  
  <p>
    <label for="instrument">type</label>
    <input type="text" name="instrument" value="{{instrument}}">
  </p>
  
  <p>
    <label for="body">body</label>
    <input type="text" name="body" value="{{body}}">
</form>