<h1>Welcome to <strong>G</strong>arage<strong>M</strong>usical</h1>

<p>You are: {{nick}} (aka {{name}})</p>


<div id="menu">
  <p>
  <a href="/">home</a>
  <a href="/profile">profile</a>
  <a href="/logout">log out</a>
  </p>
  <p>
    <a href="/">new posting</a>
  </p>
</div>