<div id="menu">
  <ul>
    <li><strong>hi {{name}}</strong></li>
    <li><a href="/">home</a></li>
    <li><a href="/profile">profile</a></li>
    <li><a href="/logout">log out</a></li>
  </ul>
</div>
<hr>
  
<div style="float:left; width: 50%; background: yellow">
  <h2>new posting</h2>
  
  <form name="input" action="posting" method="POST">
    <p>
      <label for="title">title</label>
      <input type="text" name="title" value="" id="title">
      <br>

      <label for="instrument">instrument</label>
      <input type="text" name="instrument" value="" id="instrument">
    </p>

    <p>
      <label for="body">body</label>
      <textarea name="body" rows="8" cols="40"></textarea>
    </p>
    
    <input type="submit" value="submit">
  </form>
  
  <h2>your posts</h2>
  {{#self_posts}}
  <div style="margin: 1em; padding: 0.5em; background: grey; border-radius: 10px">
    <a href="#">
    <div style="float: left; padding: 5px; background: #aaaaaa; border-radius: 5px;">
        {{replies}}<br>
        replies
    </div>
    </a>

    <span style="background: black; color: grey; width: 100%">{{title}}</span>
    <br>
    tags: {{instrument}}
    
    <p>{{body}}</p>
  
    <strong>{{creator}}</strong> @ {{last_edit}}
  </div>
  {{/self_posts}}
</div>

<div style="float:right; width: 50%;">
  {{#postings}}
  <div style="margin: 1em; padding: 0.5em; background: grey; border-radius: 10px;">
    <div style="float: left">
      {{replies}}<br>
      <a href="/reply/{{_id}}">reply</a>
    </div>

    <span style="background: black; color: grey; width: 100%">{{title}}</span>
    <br>
    tags: {{instrument}}
    
    <p>{{body}}</p>
  
    <strong>{{creator}}</strong> @ {{last_edit}}
  </div>
  {{/postings}}
</div>