<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>GarageMusical : You belong here</title>
  
  <style type="text/css" media="screen">
    html {
      background: #EEE;
    }
    body {
      margin: 1em auto;
      
      min-width: 600px;
      width: 80%;
      
      text-align: center;
    }
  </style>
  
</head>

<body>
  {{{yield}}}
</body>
</html>