<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>GarageMusical : You belong here</title>
  
  <link rel="stylesheet" href="stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <style type="text/css" media="screen">
    html {
      background: #EEE;
    }
    body {
      margin: 1em auto;
      
      min-width: 600px;
      width: 80%;
      
      text-align: center;
    }
  </style>
  
</head>

<body>
  <h1>
    Welcome to GarageMusical
    <h3>the place for all musicians</h3>
  </h1>
  <hr>

  {{{yield}}}
</body>
</html>