<h1>Welcome to GarageMusical</h1>
<h2>the place for all musicians.</h2>

<p><a href='/auth/twitter'>
  <img src="/sign-in-with-twitter-l.png" alt="Sign in with Twitter">
</a></p>

{{#users}}
<p>{{name}} : {{nick}}</p>
{{/users}}