<div id="menu">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href='/auth/twitter'><img src="/sign-in-with-twitter-l.png" alt="Sign in with Twitter"></a></li>
  </ul>
</div>
<hr>
  
<div style="float:left; width: 50%;">
  {{#postings_left}}
  <div style="padding: 1em; margin: 1em; background: grey; border-radius: 10px">
    {{title}}
    <hr style="width: 50%">
    tags: {{instrument}}
    
    <p>{{body}}</p>
  
    <strong>{{creator}}</strong> @ {{last_edit}}
  </div>
  {{/postings_left}}
</div>

<div style="float:right; width: 50%;">
  {{#postings_right}}
  <div style="padding: 1em; margin: 1em; background: grey; border-radius: 10px;">
    {{title}}
    <hr style="width: 50%">
    tags: {{instrument}}
    
    <p>{{body}}</p>
  
    <strong>{{creator}}</strong> @ {{last_edit}}
  </div>
  {{/postings_right}}
</div>